<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yxl.shishile.shishile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/MainSwipeBackTheme" />
        <activity
            android:name=".activity.LotteryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_lottery"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme" />
        <activity android:name=".activity.ForecastActivity" />
        <activity
            android:name=".activity.MyWalletActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme" />
        <activity android:name=".activity.M_ForecastActivity" />
        <activity android:name=".activity.BPActivity" />
        <activity android:name=".activity.IntegraldetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/SwipeBackTheme"
            />
    </application>

</manifest>